<!DOCTYPE html>
<html >
<head>
	<link href='<?= BASE_URL ?>css/main.css' rel='stylesheet'>
	<link href='<?= BASE_URL ?>../library/font-awesome/css/font-awesome.css' rel='stylesheet'>
	<link href='<?= BASE_URL ?>../library/font-awesome/css/font-awesome.min.css' rel='stylesheet'>
	<script src='<?= BASE_URL ?>js/main.js'></script>

	<meta charset="UTF-8">
	<title>Dashboard Arquiteto</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
	<link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css'>
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/jvectormap/2.0.4/jquery-jvectormap.min.css'>
	<link rel="stylesheet" href="<?= BASE_URL ?>css/arquiteto.css">
</head>

<body ng-app="myApp" ng-controller="namesCtrl">
	<section>
		<header>
			<nav class="rad-navigation">
				<div class="rad-logo-container rad-nav-min">
					<a href="<?= BASE_URL ?>arquiteto/" class="rad-logo"><i class="fa fa-dashboard"></i>Inicio</a>
					<a href="<?= BASE_URL ?>arquiteto/" class="rad-toggle-btn pull-right"><i class="fa fa-bars"></i></a>
				</div>
				<a href="<?= BASE_URL ?>arquiteto/" class="rad-logo-hidden">Inicio</a>
				<div class="rad-top-nav-container">
					<a href="" class="brand-icon"><i class="fa fa-dashboard"></i></a>
					
					<ul class="pull-right links">
						<li class="rad-dropdown no-color">
							<a class="rad-menu-item" href="#"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></a>
							<ul class="rad-dropmenu-item sm-menu">
								<li class="rad-notification-item">
									<a class="rad-notification-content lg-text" href="<?= BASE_URL ?>arquiteto/configuracoes"><i class="fa fa-cog"></i>Configurações</a>
								</li>
								<li class="rad-notification-item">
									<a class="rad-notification-content lg-text" href="<?= BASE_URL ?>arquiteto/logout"><i class="fa fa-power-off"></i>Sair</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>
	</section>

	<!-------------------------------- MENU -------------------------------->
	<aside>
		<nav class="rad-sidebar rad-nav-min">
			<ul>
				<li>
					<a href="<?= BASE_URL ?>arquiteto" class="inbox">
						<i class="fa fa-dashboard"><span class="icon-bg rad-bg-success"></span></i>
						<span class="rad-sidebar-item">Inicio</span>
					</a>
				</li>
				<li>
					<!-- <?= BASE_URL ?>arquiteto/listarcampanhas -->
					<a href="http://clubdecorpe.com.br/campanhas/" class="snooz" target="_blank">
						<i class="fa fa-bullhorn">
							<span class="icon-bg rad-bg-danger"></span>
						</i>					
						<span class="rad-sidebar-item">Campanhas</span>
					</a>
				</li>			
			</ul>
		</nav>
	</aside>
	<main>
		<section>
			<div class="rad-body-wrapper rad-nav-min">
				<div class="container-fluid">

					<div class="row">

						<div class="col-lg-12 col-md-12 col-xs-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Informações pessoais</h3>
								</div>
								
								<div style="width:100%;">
									<div class="topico-info">
										<font id="titulo-info"  >Nome: </font>
										<font id="conteudo-info"><?= $_SESSION['nome'] ?></font>
									</div>

									<div class="topico-info">
										<font id="titulo-info"  >Email: </font>
										<font id="conteudo-info"><?= $_SESSION['email'] ?></font>
									</div>

									<div class="topico-info">
										<font id="titulo-info"  >Nascimento: </font>
										<font id="conteudo-info"><?= $_SESSION['data_nascimento'] ?></font>
									</div>

									<div class="topico-info">
										<font id="titulo-info"  >Tel. Movel: </font>
										<font id="conteudo-info"><?= $_SESSION['telefone'] ?></font>
									</div>

									<div class="topico-info">
										<font id="titulo-info"  >CPF: </font>
										<font id="conteudo-info"><?= $_SESSION['cpf'] ?></font>
									</div>

									<div class="topico-info">
										<font id="titulo-info"  >Endereco: </font>
										<font id="conteudo-info"><?= $_SESSION['estado'] ?> - <?= $_SESSION['cidade'] ?>; <?= $_SESSION['endereco'] ?></font>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-12 col-md-12 col-xs-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Minha pontuação</h3>
								</div>
								<div class="panel-heading">

									<h3 class="panel-title">Filtre sua pesquisa : 
										<input ng-model="buscador" id='campo-filtro-select' placeholder='Filtre sua pesquisa por loja, unidade, cliente ou data'>
										<select ng-model="buscar_periodo" name='periodo' ng-change="filtroData()" style='width:25em;margin-right:10px;' id='campo-filtro-select' ng-init="buscar_periodo ='default'">
											<option value='default'>Qualquer data</option>
											<option value='1'>no periodo de 1 mes</option>
											<option value='2'>no periodo de 2 meses</option>
											<option value='3'>no periodo de 3 meses</option>
											<option value='4'>no periodo de 4 meses</option>
											<option value='5'>no periodo de 5 meses</option>
											<option value='6'>no periodo de 6 meses</option>
											<option value='7'>no periodo de 7 meses</option>
											<option value='8'>no periodo de 8 meses</option>
											<option value='9'>no periodo de 9 meses</option>
											<option value='10'>no periodo de 10 meses</option>
											<option value='11'>no periodo de 11 meses</option>
										</select>
									</h3>

								</div>
								<section>
									<div class="tbl-header">
										<table cellpadding="0" cellspacing="0" border="0">
											<thead>
												<tr>
													<th>Loja - unidade</th>
													<th>Cliente</th>
													<th>Data transação</th>
													<th>Valor transação</th>
													<th>pontuação</th>
												</tr>
											</thead>
										</table>
									</div>
									<div class="tbl-content">
										<table cellpadding="0" cellspacing="0" border="0">
											<tbody>
											<!-- | dateRange: from : to -->
											<tr ng-repeat="atb_lojista in listaLojista | filter:buscador ">
												<td>{{atb_lojista.loja}} - {{atb_lojista.unidade}}</td>
												<td>{{atb_lojista.cliente}}</td>
												<td>{{atb_lojista.data}}</td>
												<td>{{atb_lojista.valor}}</td>
												<td>{{atb_lojista.saldoClubDecor}} </td>
											</tr>
										</tbody>
									</table>
								</div>
							</section>
						</div>
					</div>

					<div id="barChart" class="rad-chart" style='display:none;'></div>
				</div>
				<div class="row">

					<div class="col-lg-5 col-xs-5">
						<div class="rad-info-box rad-txt-primary">
							<span class="heading pt-tabela">Total pontuação: {{totalPontuacao}} </span>
						</div>
					</div>

					<div class="col-lg-4 col-xs-4">
						<div class="rad-info-box rad-txt-primary" style='font-size: 15px;'>
							{{diasTerminoReg}}
						</div>
					</div>

					<div class="col-lg-3 col-xs-3">
						<div class="rad-info-box rad-txt-primary quadrado-relatorio link-relatorio-pontuacao-pdf">
							<span class="heading lojista" id="relatorio-texto">Gerar relatório PDF</span>
						</div>
					</div>

				</div>	

			</div>
		</div>
	</section>
</main>
<script src='http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js'></script>
<script src='http://code.jquery.com/ui/1.11.4/jquery-ui.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.3/jquery.slimscroll.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.8.0/lodash.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js'></script>
<script src='http://jvectormap.com/js/jquery-jvectormap-2.0.3.min.js'></script>
<script src='http://jvectormap.com/js/jquery-jvectormap-world-mill-en.js'></script>

<script src="<?= BASE_URL ?>js/arquiteto.js"></script>

</body>
</html>
