<!DOCTYPE html>
<html >
<head>
<link href='<?= BASE_URL ?>css/main.css' rel='stylesheet'>
<link href='<?= BASE_URL ?>../library/font-awesome/css/font-awesome.css' rel='stylesheet'>
<link href='<?= BASE_URL ?>../library/font-awesome/css/font-awesome.min.css' rel='stylesheet'>
<script src='<?= BASE_URL ?>js/main.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js'></script>
	<meta charset="UTF-8">
	<title>Dashboard Arquiteto</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
	<link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css'>
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/jvectormap/2.0.4/jquery-jvectormap.min.css'>
	<link rel="stylesheet" href="<?= BASE_URL ?>css/arquiteto.css">
</head>

<body>
	<section>
		<header>
			<nav class="rad-navigation">
				<div class="rad-logo-container rad-nav-min">
					<a href="<?= BASE_URL ?>arquiteto/" class="rad-logo"><i class="fa fa-dashboard"></i>Listar C.</a>
					<a href="<?= BASE_URL ?>arquiteto/" class="rad-toggle-btn pull-right"><i class="fa fa-bars"></i></a>
				</div>
				<a href="<?= BASE_URL ?>arquiteto/" class="rad-logo-hidden">Listar Campanhas</a>
				<div class="rad-top-nav-container">
					<a href="" class="brand-icon"><i class="fa fa-dashboard"></i></a>
					
					<ul class="pull-right links">
						<li class="rad-dropdown no-color">
							<a class="rad-menu-item" href="#"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></a>
							<ul class="rad-dropmenu-item sm-menu">
								<li class="rad-notification-item">
									<a class="rad-notification-content lg-text" href="<?= BASE_URL ?>arquiteto/configuracoes"><i class="fa fa-cog"></i>Configurações</a>
								</li>
								<li class="rad-notification-item">
									<a class="rad-notification-content lg-text" href="#"><i class="fa fa-power-off"></i>Sair</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>
	</section>

	<!-------------------------------- MENU -------------------------------->
	<aside>
		<nav class="rad-sidebar rad-nav-min">
			<ul>
				<li>
					<a href="<?= BASE_URL ?>arquiteto" class="inbox">
						<i class="fa fa-dashboard"><span class="icon-bg rad-bg-success"></span></i>
						<span class="rad-sidebar-item">Inicio</span>
					</a>
				</li>
				<li>
					<a href="<?= BASE_URL ?>listarcampanhas" class="snooz">
						<i class="fa fa-bullhorn">
							<span class="icon-bg rad-bg-danger"></span>
						</i>					
						<span class="rad-sidebar-item">Campanhas</span>
					</a>
				</li>			
			</ul>
		</nav>
	</aside>
	<main>
		<section>
			<div class="rad-body-wrapper rad-nav-min">
				<div class="container-fluid">

					<div class="row">

						<div class="col-lg-12 col-md-12 col-xs-12">
							<div id="conteudo-listar-campanhas">
								<?= file_get_contents('http://clubdecorpe.com.br/campanhas/'); ?>
							</div>
						</div>

						<div id="barChart" class="rad-chart" style='display:none;'></div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js'></script>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js'></script>
	<script src='http://code.jquery.com/ui/1.11.4/jquery-ui.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.3/jquery.slimscroll.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.8.0/lodash.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js'></script>
	<script src='http://jvectormap.com/js/jquery-jvectormap-2.0.3.min.js'></script>
	<script src='http://jvectormap.com/js/jquery-jvectormap-world-mill-en.js'></script>

	<script src="<?= BASE_URL ?>js/arquiteto.js"></script>

</body>
</html>
