<!DOCTYPE html>
<html >
<head>
<link href='<?= BASE_URL ?>css/main.css' rel='stylesheet'>
<link href='<?= BASE_URL ?>../library/font-awesome/css/font-awesome.css' rel='stylesheet'>
<link href='<?= BASE_URL ?>../library/font-awesome/css/font-awesome.min.css' rel='stylesheet'>
<script src='<?= BASE_URL ?>js/main.js'></script>

	<meta charset="UTF-8">
	<title>Dashboard Clubdecor</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
	<link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css'>
	<link rel="stylesheet" href="<?= BASE_URL ?>css/clubdecor.css">
</head>

<body  ng-app="myApp" ng-controller="indexCntrl">
	<section>
		<header>
			<nav class="rad-navigation">
				<div class="rad-logo-container rad-nav-min">
					<a href="#" class="rad-logo"><i class="fa fa-dashboard"></i>Inicio</a>
					<a href="#" class="rad-toggle-btn pull-right"><i class="fa fa-bars"></i></a>
				</div>
				<a href="#" class="rad-logo-hidden">Inicio</a>
				<div class="rad-top-nav-container">
					<a href="" class="brand-icon"><i class="fa fa-dashboard"></i></a>
					
					<ul class="pull-right links">
						
					
						
						<li class="rad-dropdown no-color">
							<a class="rad-menu-item" href="#"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></a>
							<ul class="rad-dropmenu-item sm-menu">
								<li class="rad-notification-item">
									<a class="rad-notification-content lg-text" href="http://clubdecorpe.com.br/webmail/" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i> Acessar meu email </a>
								</li>
								<li class="rad-notification-item">
									<a class="rad-notification-content lg-text" href="<?= BASE_URL ?>clubdecor/logout"><i class="fa fa-power-off"></i>Sair</a>
								</li>
							</ul>
						</li>

					</ul>
				</div>
			</nav>
		</header>
	</section>

	<!-------------------------------- MENU -------------------------------->
	<aside>
		<nav class="rad-sidebar rad-nav-min">
			<ul>
				<li>
					<a href="<?= BASE_URL ?>clubdecor" class="inbox">
						<i class="fa fa-dashboard"><span class="icon-bg rad-bg-success"></span></i>
						<span class="rad-sidebar-item">Inicio</span>
					</a>
				</li>
				<li>
					<a href="<?= BASE_URL ?>clubdecor/lojista" class="snooz">
						<i class="fa fa-building">
							<span class="icon-bg rad-bg-danger"></span>
						</i>					
						<span class="rad-sidebar-item">Lojista</span>
					</a>
				</li>			
				<li>
					<a href="<?= BASE_URL ?>clubdecor/regulamentacao" class="snooz">
						<i class="fa fa-bullhorn">
							<span class="icon-bg rad-bg-warning menu-regulamentacao"></span>
						</i>					
						<span class="rad-sidebar-item">Regulamentação</span>
					</a>
				</li>	
				
				<li>
					<a href="<?= BASE_URL ?>clubdecor/listacontato" class="snooz">
						<i class="fa fa-address-card">
							<span class="icon-bg rad-bg-danger menu-regulamentacao"></span>
						</i>					
						<span class="rad-sidebar-item">Lista contatos</span>
					</a>
				</li>

			</ul>
		</nav>
	</aside>
	<main>
		<section>
			<div class="rad-body-wrapper rad-nav-min">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-6 col-xs-6">
							<div class="rad-info-box rad-txt-success">
								<i class="fa fa-users"></i>
								<span class="heading">Todos arquitetos</span>
								<span class="value"><span ng-init="qtdArquitetos = '0'">{{qtdArquitetos}}</span></span>
							</div>
						</div>
						<div class="col-lg-6 col-xs-6">
							<div class="rad-info-box rad-txt-primary">
								<i class="fa fa-building"></i>
								<span class="heading">Todos lojistas</span>
								<span class="value"><span ng-init="qtdLojistas = '0'">{{qtdLojistas}}</span></span>
							</div>
						</div>
					</div>
					<div class="row">

						<div class="panel panel-default" style="display:none">
							<div class="panel-body">
								<div id="donutChart" class="rad-chart"></div>
							</div>
						</div>

						<div class="col-lg-6 col-md-12 col-xs-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Faturamento clubdecor<ul class="rad-panel-action">
										<li><i class="fa fa-chevron-down"></i></li>
										<li><i class="fa fa-rotate-right"></i></li>
										<li><i class="fa fa-cog"></i>
											<li><i class="fa fa-close"></i>
											</li>
										</ul></h3>
									</div>
									<iframe src="<?= BASE_URL ?>clubdecor/graficovendalucroclubdecor" style='width:100%; height:275px;overflow: hidden;'></iframe>
								</div>
							</div>

							<div class="col-lg-6 col-md-12 col-xs-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title">Faturamento clubdecor por segmento<ul class="rad-panel-action">
											<li><i class="fa fa-chevron-down"></i></li>
											<li><i class="fa fa-rotate-right"></i></li>
											<li><i class="fa fa-cog"></i>
												<li><i class="fa fa-close"></i>
												</li>
											</ul></h3>
										</div>
										<iframe src="<?= BASE_URL ?>clubdecor/graficolucroclubdecorporsegmento" style='width:100%; height:275px;overflow: hidden;'></iframe>
									</div>
								</div>						

							</div>
							<div class="row">

								<div class="col-lg-12 col-md-12 col-xs-12">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">Lista venda</h3>
										</div>

										<div class="panel-heading">

											<h3 class="panel-title">Filtre sua pesquisa : 	
												<input ng-model="buscadorSegmento" id='campo-filtro-select' placeholder='Filtre sua pesquisa por segmento' style='width:20em !important;'>
												<input ng-model="buscadorUnidade" id='campo-filtro-select' placeholder='Filtre sua pesquisa por unidade' style='margin-right:20px; width:20em !important;'>
												<input ng-model="buscadorLoja" id='campo-filtro-select' placeholder='Filtre sua pesquisa por loja' style='width:20em !important; margin-right:20px; '>

											</div>
											<section>
												<div class="tbl-header">
													<table cellpadding="0" cellspacing="0" border="0">
														<thead>
															<tr>
																<th>Loja</th>
																<th>Unidade</th>
																<th>Faturamento</th>
																<th>Segmento</th>
															</tr>
														</thead>
													</table>
												</div>
												<div class="tbl-content">
													<table cellpadding="0" cellspacing="0" border="0">
														<tbody>
														<tr ng-repeat="atb_venda in listaVenda | filter:{'loja' : buscadorLoja, 'unidade' : buscadorUnidade, 'segmento': buscadorSegmento}">
															<td>{{atb_venda.loja}}</td>
															<td>{{atb_venda.unidade}}</td>
															<td>{{atb_venda.lucro}}</td>
															<td>{{atb_venda.segmento}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</section>
									</div>
								</div>

								<a href="<?= BASE_URL ?>lojista/relatoriovendapdf" target="_blank">
									<div class="col-lg-3 col-xs-3 link-relatorio-venda-pdf">
										<div class="rad-info-box rad-txt-primary quadrado-relatorio">
											<span class="heading lojista" id="relatorio-texto">Gerar relatório PDF</span>
										</div>
									</div>
								</a>

								<div class="col-lg-12 col-md-12 col-xs-12">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">Ranking Arquiteto</h3>
										</div>

										<div class="panel-heading">

											<h3 class="panel-title">Filtre sua pesquisa :
												<input ng-model="budcadorArquiteto" id='campo-filtro-select' placeholder='Filtre sua pesquisa por arquiteto'>
											</div>
											<section>
												<div class="tbl-header">
													<table cellpadding="0" cellspacing="0" border="0">
														<thead>
															<tr>
																<th>Arquiteto</th>
																<th>Total transações</th>
																<th>Pontuação</th>
															</tr>
														</thead>
													</table>
												</div>
												<div class="tbl-content">
													<table cellpadding="0" cellspacing="0" border="0">
														<tbody>
														<tr ng-repeat="atb_arquiteto in listaArquiteto | filter:budcadorArquiteto">
															<td>{{atb_arquiteto.nome_arquiteto}}</td>
															<td>{{atb_arquiteto.total_tranzacoes}}</td>
															<td>{{atb_arquiteto.pontuacao}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</section>

									</div>
								</div>

								<a href="<?= BASE_URL ?>lojista/relatoriovendapdf" target="_blank">
									<div class="col-lg-3 col-xs-3">
										<div class="rad-info-box rad-txt-primary quadrado-relatorio link-relatorio-arquiteto-venda">
											<span class="heading lojista" id="relatorio-texto">Gerar relatório PDF</span>
										</div>
									</div>
								</a>								

								<div id="barChart" class="rad-chart" style='display:none;'></div>
							</div>
						</div>
					</div>
				</section>
			</main>
			<script src='http://code.jquery.com/ui/1.11.4/jquery-ui.js'></script>
			<script src='https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.3/jquery.slimscroll.min.js'></script>
			<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.8.0/lodash.min.js'></script>
			<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js'></script>
			<script src='http://jvectormap.com/js/jquery-jvectormap-2.0.3.min.js'></script>
			<script src='http://jvectormap.com/js/jquery-jvectormap-world-mill-en.js'></script>

			<script src="<?= BASE_URL ?>js/clubdecor.js"></script>

		</body>
		</html>
