<!DOCTYPE html>
<html >
<head>
	<link href='<?= BASE_URL ?>css/main.css' rel='stylesheet'>
	<link href='<?= BASE_URL ?>../library/font-awesome/css/font-awesome.css' rel='stylesheet'>
	<link href='<?= BASE_URL ?>../library/font-awesome/css/font-awesome.min.css' rel='stylesheet'>
	<script src='<?= BASE_URL ?>js/main.js'></script>
	
	<meta charset="UTF-8">
	<title>Dashboard Clubdecor</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
	<link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css'>
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/jvectormap/2.0.4/jquery-jvectormap.min.css'>
	<link rel="stylesheet" href="<?= BASE_URL ?>css/clubdecor.css">
</head>

<body  ng-app="myApp" ng-controller="lstCntCntrl">
	<section>
		<header>
			<nav class="rad-navigation">
				<div class="rad-logo-container rad-nav-min">
					<a href="#" class="rad-logo"><i class="fa fa-dashboard"></i>CONT</a>
					<a href="#" class="rad-toggle-btn pull-right"><i class="fa fa-bars"></i></a>
				</div>
				<a href="#" class="rad-logo-hidden">lista contato</a>
				<div class="rad-top-nav-container">
					<a href="" class="brand-icon"><i class="fa fa-dashboard"></i></a>
					
					<ul class="pull-right links">
						<li class="rad-dropdown no-color">
							<a class="rad-menu-item" href="#"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></a>
							<ul class="rad-dropmenu-item sm-menu">
								<li class="rad-notification-item">
									<a class="rad-notification-content lg-text" href="http://clubdecorpe.com.br/webmail/" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i> Acessar meu email </a>
								</li>							
								<li class="rad-notification-item">
									<a class="rad-notification-content lg-text" href="<?= BASE_URL ?>clubdecor/logout"><i class="fa fa-power-off"></i>Sair</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>
	</section>

	<!-------------------------------- MENU -------------------------------->
	<aside>
		<nav class="rad-sidebar rad-nav-min">
			<ul>
				<li>
					<a href="<?= BASE_URL ?>clubdecor" class="inbox">
						<i class="fa fa-dashboard"><span class="icon-bg rad-bg-success"></span></i>
						<span class="rad-sidebar-item">Inicio</span>
					</a>
				</li>
				<li>
					<a href="<?= BASE_URL ?>clubdecor/lojista" class="snooz">
						<i class="fa fa-building">
							<span class="icon-bg rad-bg-danger"></span>
						</i>					
						<span class="rad-sidebar-item">Lojista</span>
					</a>
				</li>	
				<li>
					<a href="<?= BASE_URL ?>clubdecor/regulamentacao" class="snooz">
						<i class="fa fa-bullhorn">
							<span class="icon-bg rad-bg-warning menu-regulamentacao"></span>
						</i>					
						<span class="rad-sidebar-item">Regulamentação</span>
					</a>
				</li>
				
				<li>
					<a href="<?= BASE_URL ?>clubdecor/listacontato" class="snooz">
						<i class="fa fa-address-card">
							<span class="icon-bg rad-bg-danger menu-regulamentacao"></span>
						</i>					
						<span class="rad-sidebar-item">Lista contatos</span>
					</a>
				</li>
										
			</ul>
		</nav>
	</aside>
	<main>
		<section>
			<div class="rad-body-wrapper rad-nav-min">
				<div class="container-fluid">

					<div class="row">

						<div class="col-lg-12 col-md-12 col-xs-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Lista contato lojista</h3>
								</div>
								<div class="panel-heading">
										<h3 class="panel-title">Filtre sua pesquisa :
										<input ng-model="buscadorLojista" id='campo-filtro-select' placeholder='Filtre sua pesquisa por nome, telefone, email, data nascimento ou cpf'>
								</div>								
								<section>
									<div class="tbl-header">
											<table cellpadding="0" cellspacing="0" border="0">
												<thead>
													<tr>
														<th>Lojista</th>
														<th>Telefone</th>
														<th>Email</th>
														<th>Data nascimento</th>
														<th>Cpf</th>
													</tr>
												</thead>
											</table>
										</div>
										<div class="tbl-content">
											<table cellpadding="0" cellspacing="0" border="0">
												<tbody>
												<tr ng-repeat="atb_lojista in listaLojista | filter:buscadorLojista" style='cursor:pointer'  ng-click='verDetalhesArquiteto(atb_lojista.id)'>
													<td>{{atb_lojista.nome}}</td>
													<td>{{atb_lojista.telefone}}</td>
													<td>{{atb_lojista.email}}</td>
													<td>{{atb_lojista.data_nascimento}}</td>
													<td>{{atb_lojista.cpf}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>								
							</div>
						</div>

						<div class="col-lg-3 col-xs-3">
							<div class="rad-info-box rad-txt-primary quadrado-relatorio link-relatorio-arquiteto-venda">
								<span class="heading lojista" id="relatorio-texto">Copiar todos emails lojista</span>
							</div>
						</div>

						<div class="col-lg-12 col-md-12 col-xs-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Lista contato arquiteto</h3>
								</div>
								<div class="panel-heading">
										<h3 class="panel-title">Filtre sua pesquisa :
										<input ng-model="buscadorArquiteto" id='campo-filtro-select' placeholder='Filtre sua pesquisa por nome, telefone, email, data nascimento ou cpf'>
								</div>																			
								<section>
									<div class="tbl-header">
											<table cellpadding="0" cellspacing="0" border="0">
												<thead>
													<tr>
														<th>Arquiteto</th>
														<th>Telefone</th>
														<th>Email</th>
														<th>Data nascimento</th>
														<th>Cpf</th>
													</tr>
												</thead>
											</table>
										</div>
										<div class="tbl-content">
											<table cellpadding="0" cellspacing="0" border="0">
												<tbody>
												<tr ng-repeat="atb_arquiteto in listaArquiteto | filter:buscadorArquiteto" style='cursor:pointer' ng-click='verDetalhesArquiteto(atb_arquiteto.id)'>
													<td>{{atb_arquiteto.nome}}</td>
													<td>{{atb_arquiteto.telefone}}</td>
													<td>{{atb_arquiteto.email}}</td>
													<td>{{atb_arquiteto.data_nascimento}}</td>
													<td>{{atb_arquiteto.cpf}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>

							</div>
						</div>

						<div class="col-lg-3 col-xs-3">
							<div class="rad-info-box rad-txt-primary quadrado-relatorio link-relatorio-arquiteto-venda">
								<span class="heading lojista" id="relatorio-texto">Copiar todos emails arquiteto</span>
							</div>
						</div>


					</div>

				</div>
			</div>
		</section>
	</main>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.3/jquery.slimscroll.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.8.0/lodash.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js'></script>
	<script src='http://jvectormap.com/js/jquery-jvectormap-2.0.3.min.js'></script>
	<script src='http://jvectormap.com/js/jquery-jvectormap-world-mill-en.js'></script>

	<script src="<?= BASE_URL ?>js/clubdecor.js"></script>

</body>
</html>
