<!DOCTYPE html>
<html >
<head>
	<link href='<?= BASE_URL ?>css/main.css' rel='stylesheet'>
	<link href='<?= BASE_URL ?>../library/font-awesome/css/font-awesome.css' rel='stylesheet'>
	<link href='<?= BASE_URL ?>../library/font-awesome/css/font-awesome.min.css' rel='stylesheet'>
	<script src='<?= BASE_URL ?>js/main.js'></script>

	<meta charset="UTF-8">
	<title>Dashboard Clubdecor</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/jvectormap/2.0.4/jquery-jvectormap.min.css'>
	<link rel="stylesheet" href="<?= BASE_URL ?>css/clubdecor.css">

	<script type="text/javascript">
		$(document).ready(function(){
			$('.cnpj_mask').mask('00.000.000/0000-00');    
			$('.data_mask').mask('00/00/0000');
			$('.telefone_mask').mask('(00) 00000 - 0000');
		});
	</script>

</head>

<body ng-app="myApp" ng-controller="namesCtrl">
	<section>
		<header>
			<nav class="rad-navigation">
				<div class="rad-logo-container rad-nav-min">
					<a href="#" class="rad-logo"><i class="fa fa-dashboard"></i>Lojista</a>
					<a href="#" class="rad-toggle-btn pull-right"><i class="fa fa-bars"></i></a>
				</div>
				<a href="#" class="rad-logo-hidden">Lojista</a>
				<div class="rad-top-nav-container">
					<a href="" class="brand-icon"><i class="fa fa-dashboard"></i></a>
					
					<ul class="pull-right links">
						<li class="rad-dropdown no-color">
							<a class="rad-menu-item" href="#"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></a>
							<ul class="rad-dropmenu-item sm-menu">
								<li class="rad-notification-item">
									<a class="rad-notification-content lg-text" href="http://clubdecorpe.com.br/webmail/" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i> Acessar meu email </a>
								</li>							
								<li class="rad-notification-item">
									<a class="rad-notification-content lg-text" href="<?= BASE_URL ?>clubdecor/logout"><i class="fa fa-power-off"></i>Sair</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>
	</section>

	<!-------------------------------- MENU -------------------------------->
	<aside>
		<nav class="rad-sidebar rad-nav-min">
			<ul>
				<li>
					<a href="<?= BASE_URL ?>clubdecor" class="inbox">
						<i class="fa fa-dashboard"><span class="icon-bg rad-bg-success"></span></i>
						<span class="rad-sidebar-item">Inicio</span>
					</a>
				</li>
				<li>
					<a href="<?= BASE_URL ?>clubdecor/lojista" class="snooz">
						<i class="fa fa-building">
							<span class="icon-bg rad-bg-danger"></span>
						</i>					
						<span class="rad-sidebar-item">Lojista</span>
					</a>
				</li>	
				<li>
					<a href="<?= BASE_URL ?>clubdecor/regulamentacao" class="snooz">
						<i class="fa fa-bullhorn">
							<span class="icon-bg rad-bg-warning menu-regulamentacao"></span>
						</i>					
						<span class="rad-sidebar-item">Regulamentação</span>
					</a>
				</li>
				
				<li>
					<a href="<?= BASE_URL ?>clubdecor/listacontato" class="snooz">
						<i class="fa fa-address-card">
							<span class="icon-bg rad-bg-danger menu-regulamentacao"></span>
						</i>					
						<span class="rad-sidebar-item">Lista contatos</span>
					</a>
				</li>

			</ul>
		</nav>
	</aside>
	<main>
		<section>
			<div class="rad-body-wrapper rad-nav-min">
				<div class="container-fluid">

					<div class="row">
						<div class="col-lg-6 col-xs-6">
							<div class="rad-info-box rad-txt-success quadrado-lojista div-form-lojista quadrado-relatorio" id="lojista">
								<span class="heading lojista">Cadastrar lojista</span>
							</div>
						</div>
						<div class="col-lg-6 col-xs-6">
							<div class="rad-info-box rad-txt-primary quadrado-lojista div-form-segmento quadrado-relatorio"  id="lojista">
								<span class="heading lojista" id="lojista">Cadastrar segmento</span>
							</div>
						</div>

						<div class="col-lg-12 col-md-12 col-xs-12 formulario-cadastro-lojista" style="display:none;">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title" id="lojista">Formulário cadastro lojista  <i class="fa fa-times" aria-hidden="true" id='fecharFormCadLojista' style='float:right;cursor:pointer;'></i></h3>
								</div>

								<!-- CONTEUDO FORMULÁRIO -->
								<input type="text" 	ng-model="email" 		placeholder='Email' 		class="campo-texto-form">									
								<input type="password" ng-model="senha" 	placeholder='Senha' 		class="campo-texto-form">									
								<input type="text" ng-model="razao_social" 	placeholder='Razão social' 	class="campo-texto-form">
								<input type="text" ng-model="nome_fantasia" placeholder='Nome fantasia' class="campo-texto-form">
								<select ng-model="segmento_cad" class="campo-texto-form" ng-init="segmento_cad = 'default'">

									<option value='default'>Selecione o segmento da loja</option>
									<option ng-repeat="atb_segmento in listaSegmento" value="{{atb_segmento.id}}">{{atb_segmento.segmento}}</option>

								</select>									
								<input type="text" ng-model="cnpj" 			placeholder='CNPJ' 			class="campo-texto-form cnpj_mask">									
								<input type="text" ng-model="endereco" 		placeholder='Endereço completo' class="campo-texto-form">
								<input type="text" ng-model="site" 			placeholder='Site' 			class="campo-texto-form">									
								<input type="text" ng-model="data_fundacao" placeholder='data fundação empresa' class="campo-texto-form data_mask">
								<input type="text" ng-model="tel_contato" 	placeholder='Telefone contato' 	class="campo-texto-form telefone_mask">
								<input type="text" ng-model="unidade" 		placeholder='Digite o nomde das unidades separando por virgula. EX: unidade01, unidade02' 		class="campo-texto-form" ng-list ng-init="unidade = 'Central, ' ">

								<input type="button" ng-click="cadastrarLojista()" value="Cadastrar lojista" id="cadastrarLojista" class="campo-texto-form botao-submit">
							</div>
						</div>						

						<div class="col-lg-12 col-md-12 col-xs-12 formulario-cadastro-segmento" style="display:none;">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title" id="lojista">Formulário cadastro segmento  <i class="fa fa-times" aria-hidden="true" id='fecharFormCadSegmento' style='float:right;cursor:pointer;'></i></h3>
								</div>

								<div class='exibir-segmentos'>
									
								<font style='margin-left:15px'> Meus segmentos cadastrados: </font>
									<ul style='margin-left:35px; margin-top:15px; list-style: initial;'>
										<li ng-repeat='atb_segmento in listaSegmento'>{{atb_segmento.segmento}}</li>
									</ul>
								</div>								

								<!-- CONTEUDO FORMULÁRIO -->
								<input type="text" name="" placeholder='Nome do segmento' ng-model='segmento' class="campo-texto-form">
								<br>
								<input type="button" name="" value="Cadastrar segmento" class="campo-texto-form botao-submit" ng-click="cadastrarSegmento()" id="cadastrar-segmento">

							</div>
						</div>	

					</div>	




					<div class="row">

						<div class="col-lg-12 col-md-12 col-xs-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title" id="lojista">Lista lojistas</h3>
								</div>
								<div class="panel-heading">

									<h3 class="panel-title">Filtre sua pesquisa : 

										<input ng-model="buscadorloja" id='campo-filtro-select' placeholder='Filtre sua pesquisa por lojista'>																						

									</div>
									<section>
										<div class="tbl-header">
											<table cellpadding="0" cellspacing="0" border="0">
												<thead>
													<tr>
														<th>Nome fantasia</th>
														<th>Razão social</th>
														<th>Email</th>
														<th>CNPJ</th>
														<th>Telefone</th>
														<th>Data fundação</th>
														<th>Excluir</th>
													</tr>
												</thead>
											</table>
										</div>
										<div class="tbl-content">
											<table cellpadding="0" cellspacing="0" border="0">
												<tbody>
													<tr ng-repeat="atb_lojista in listarLojistas | filter:buscadorloja">
														<td>{{atb_lojista.nome}}</td>
														<td>{{atb_lojista.razao_social}}</td>
														<td>{{atb_lojista.email}}</td>
														<td>{{atb_lojista.cpf}}</td>
														<td>{{atb_lojista.telefone}}</td>
														<td>{{atb_lojista.data_nascimento}}</td>
														<td><i class='fa fa-trash-o fa-lg exibir-pop-up-exclusao' aria-hidden='true' ng-click="excluirLojista(atb_lojista.id)"></i></td>
													</tr>
												</tbody>
											</table>
										</div>
									</section>
								</div>
							</div>
						</div>
					</div>

				</div>
			</section>
		</main>
		<script src='http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js'></script>
		<script src='http://code.jquery.com/ui/1.11.4/jquery-ui.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.3/jquery.slimscroll.min.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.8.0/lodash.min.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js'></script>
		<script src='http://jvectormap.com/js/jquery-jvectormap-2.0.3.min.js'></script>
		<script src='http://jvectormap.com/js/jquery-jvectormap-world-mill-en.js'></script>
		<script src="<?= BASE_URL ?>js/clubdecor.js"></script>



		<!-- ====================================== ALERTAS ====================================== -->
		<div class="row pop-up alerta-detalhes-lojista">
			<div class="box small-6 large-centered">
				<a href="#" class="close-button">&#10006;</a>
				<h3 id='titulo-alert'>O que é a regulamentação?</h3>
				<p id='paragrafo-alert'>A regulamentação é o conjunto de regras que o arquiteto terá que aceitar ao se cadastrar no formulário.</p>
			</div>
		</div>

		<div class="row pop-up alerta-dados-alterar-dados-lojista">
			<div class="box small-6 large-centered">
				<a href="#" class="close-button">&#10006;</a>
				<h3 id='titulo-alert'>O que é a regulamentação?</h3>
				<p id='paragrafo-alert'>A regulamentação é o conjunto de regras que o arquiteto terá que aceitar ao se cadastrar no formulário.</p>
			</div>
		</div>

		<div class="row pop-up alerta-exclusao-lojista">
			<div class="box small-6 large-centered">
				<a href="#" class="close-button">&#10006;</a>
				<h3 id='titulo-alert'>O que é a regulamentação?</h3>
				<p id='paragrafo-alert'>A regulamentação é o conjunto de regras que o arquiteto terá que aceitar ao se cadastrar no formulário.</p>
			</div>
		</div>


	</body>
	</html>
