<!DOCTYPE html>
<html >
<head>
	<link href='<?= BASE_URL ?>css/main.css' rel='stylesheet'>
	<link href='<?= BASE_URL ?>../library/font-awesome/css/font-awesome.css' rel='stylesheet'>
	<link href='<?= BASE_URL ?>../library/font-awesome/css/font-awesome.min.css' rel='stylesheet'>
	<script src='<?= BASE_URL ?>js/main.js'></script>
	
	<meta charset="UTF-8">
	<title>Dashboard Clubdecor</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
	<link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css'>
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/jvectormap/2.0.4/jquery-jvectormap.min.css'>
	<link rel="stylesheet" href="<?= BASE_URL ?>css/clubdecor.css">

	<script type="text/javascript">
		$(document).ready(function(){
			$('.data_inicial_mask').mask('00/00/0000');
			$('.data_final_mask').mask('00/00/0000');
		});
	</script>




</head>

<div class="row pop-up">
	<div class="box small-6 large-centered pop-up2">
		<a href="#" class="close-button">&#10006;</a>
		<h3 id='titulo-alert'>Excluir todas as vendas</h3>
		<p id='paragrafo-alert'>Voce tem certesa que deseja excluir todas as vendas? <input type='button' value='Excluir Vendas' ng-click='deletarDadosVenda()'> </p>
	</div>
</div>

 
<body  ng-app="myApp" ng-controller="regulamentacaoCntrl">
	<section>
		<header>
			<nav class="rad-navigation">
				<div class="rad-logo-container rad-nav-min">
					<a href="#" class="rad-logo"><i class="fa fa-dashboard"></i>Reg</a>
					<a href="#" class="rad-toggle-btn pull-right"><i class="fa fa-bars"></i></a>
				</div>
				<a href="#" class="rad-logo-hidden">Regulamentação</a>
				<div class="rad-top-nav-container">
					<a href="" class="brand-icon"><i class="fa fa-dashboard"></i></a>
					
					<ul class="pull-right links">
						<li class="rad-dropdown no-color">
							<a class="rad-menu-item" href="#"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></a>
							<ul class="rad-dropmenu-item sm-menu">
								<li class="rad-notification-item">
									<a class="rad-notification-content lg-text" href="http://clubdecorpe.com.br/webmail/" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i> Acessar meu email </a>
								</li>							
								<li class="rad-notification-item">
									<a class="rad-notification-content lg-text" href="<?= BASE_URL ?>clubdecor/logout"><i class="fa fa-power-off"></i>Sair</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>
	</section>

	<!-------------------------------- MENU -------------------------------->
	<aside>
		<nav class="rad-sidebar rad-nav-min">
			<ul>
				<li>
					<a href="<?= BASE_URL ?>clubdecor" class="inbox">
						<i class="fa fa-dashboard"><span class="icon-bg rad-bg-success"></span></i>
						<span class="rad-sidebar-item">Inicio</span>
					</a>
				</li>
				<li>
					<a href="<?= BASE_URL ?>clubdecor/lojista" class="snooz">
						<i class="fa fa-building">
							<span class="icon-bg rad-bg-danger"></span>
						</i>					
						<span class="rad-sidebar-item">Lojista</span>
					</a>
				</li>	
				<li>
					<a href="<?= BASE_URL ?>clubdecor/regulamentacao" class="snooz">
						<i class="fa fa-bullhorn">
							<span class="icon-bg rad-bg-warning menu-regulamentacao"></span>
						</i>					
						<span class="rad-sidebar-item">Regulamentação</span>
					</a>
				</li>
				
				<li>
					<a href="<?= BASE_URL ?>clubdecor/listacontato" class="snooz">
						<i class="fa fa-address-card">
							<span class="icon-bg rad-bg-danger menu-regulamentacao"></span>
						</i>					
						<span class="rad-sidebar-item">Lista contatos</span>
					</a>
				</li>
										
			</ul>
		</nav>
	</aside>
	<main>
		<section>
			<div class="rad-body-wrapper rad-nav-min">
				<div class="container-fluid">

					<div class="row">

						<div class="col-lg-6 col-md-6 col-xs-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title" id="lojista">Data inicial campanha</h3>
								</div>
								<input type="text" name="" id='data-campanha' class="data_inicial_mask" ng-model="data_inicial_campanha" ng-init="data_incial = '00/00/0000'" value="{{listarCampanha.data_inicial_campanha}}">
							</div>
						</div>

						<div class="col-lg-6 col-md-6 col-xs-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title" id="lojista">Data final campanha</h3>
								</div>
								<input type="text" name="" id='data-campanha' class="data_final_mask" ng-model="data_final_campanha" ng-init="data_final = '00/00/0000'" value="{{data_final}}">
							</div>
						</div>

						<div class="col-lg-12 col-md-12 col-xs-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title" id="lojista">Regulamentação Arquiteto </h3>
								</div>

								<textarea id='textarea-regulamento' name='regulamentacao' placeholder='Digite o texto da sua regulamentacao' ng-model="descricao_campanha" ng-init="descricao = 'descricao da regulamentacao'">{{descricao}}</textarea>

							</div>
						</div>

						<div class="col-lg-12 col-md-12 col-xs-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title" id="lojista">Regulamentação Lojista </h3>
								</div>

								<textarea id='textarea-regulamento' name='regulamentacao' placeholder='Digite o texto da sua regulamentacao' ng-model="descricao_campanha_lojista" ng-init="descricao_lojista = 'descricao da regulamentacao'">{{descricao_lojista}}</textarea>

							</div>
						</div>						

						<div class="col-lg-4 col-xs-4">
							<div class="rad-info-box rad-txt-primary quadrado-lojista div-form-segmento quadrado-relatorio botao-cadastro-regulamentacao"  id="lojista">
								<span class="heading lojista " id="lojista" ng-click='cadastrarRegulamentacao()'>Atualizar Regulamentação</span>
							</div>
						</div>

						<div class="col-lg-4 col-xs-4">
							<div class="rad-info-box rad-txt-primary quadrado-lojista div-form-segmento quadrado-relatorio botao-cadastro-regulamentacao deleter-todas-vendas"  id="lojista" ng-click='modificarStatusVenda()'>
								<span class="heading lojista " id="lojista"> {{texto_venda}}  </span>
							</div>
						</div>

						<div class="col-lg-4 col-xs-4">
							<div  style='background-color:#f98e33 !important;' class="rad-info-box rad-txt-primary quadrado-lojista div-form-segmento quadrado-relatorio botao-cadastro-regulamentacao deleter-todas-vendas questao-exclusao"  id="lojista">
								<span class="heading lojista " id="lojista"> Deletar todos dados da venda !!</span>
							</div>
						</div>

					</div>
				</div>

			</div>
		</section>
	</main>
	<script src='http://code.jquery.com/ui/1.11.4/jquery-ui.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.3/jquery.slimscroll.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.8.0/lodash.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js'></script>
	<script src='http://jvectormap.com/js/jquery-jvectormap-2.0.3.min.js'></script>
	<script src='http://jvectormap.com/js/jquery-jvectormap-world-mill-en.js'></script>

	<script src="<?= BASE_URL ?>js/clubdecor.js"></script>

</body>
</html>
