
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<link href='<?= BASE_URL ?>css/main.css' rel='stylesheet'>
	<link href='<?= BASE_URL ?>../library/font-awesome/css/font-awesome.css' rel='stylesheet'>
	<link href='<?= BASE_URL ?>../library/font-awesome/css/font-awesome.min.css' rel='stylesheet'>
	<script src='<?= BASE_URL ?>js/main.js'></script>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="description" content="Club Decor" />
	<meta name="keywords" content="Club Decor" />
	<meta name="resource-type" content="document" />
	<meta name="robots" content="ALL" />
	<meta name="distribution" content="Global" />
	<meta name="rating" content="General" />
	<meta name="author" content="Club Decor" />
	<meta name="language" content="pt-br" />
	<meta name="doc-class" content="Completed" />
	<meta name="doc-rights" content="Public" />
	<meta name="title" content="Club Decor" />
	<title>Club Decor</title>
	<link rel="stylesheet" type="text/css" href="<?= BASE_URL ?>css/index.css" />
	<link rel="shortcut icon" href="<?= BASE_URL ?>img/favicon.png">
	<!-- Última versão CSS compilada e minificada -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" >

		var i = 0;
		var campoSocio = '<div class="col-md-6"><label>Sócio:</label><input type="text" name="dependente0" id="dependente0" /></div><div class="col-md-6"><label>Data de Nascimento:</label><input class="p valid" type="text" name="data1" id="data1" aria-invalid="false" /></div>';

		$(document).ready(function() {

			$("#pf").click(function(){
				$("#mostrarPessoaFisica").css("display","block");
				$("#mostrarPessoJuridica").css("display","none");
			});

			$("#pj").click(function(){
				$("#mostrarPessoaFisica").css("display","none");
				$("#mostrarPessoJuridica").css("display","block");
			});

			$("#label1").click(function(){

				if(i%2 == 0)
				{
					$("#tab1").css("display","block");
				}else{
					$("#tab1").css("display","none");
				}
				i++;

			});

			$("#adicionar-socios").click(function(){
				document.getElementById("adicionar-campo-socio").innerHTML = campoSocio;
				campoSocio = campoSocio + '<div class="col-md-6"><label>Sócio:</label><input type="text" name="dependente0" id="dependente0" /></div><div class="col-md-6"><label>Data de Nascimento:</label><input class="p valid" type="text" name="data1" id="data1" aria-invalid="false" /></div>';
			});

			function limpa_formulário_cep() {
                // Limpa valores do formulário de cep.
                $("#rua").val("");
                $("#bairro").val("");
                $("#cidade").val("");
                $("#uf").val("");
                $("#ibge").val("");
            }
            
            //Quando o campo cep perde o foco.
            $("#cep").blur(function() {

                //Nova variável "cep" somente com dígitos.
                var cep = $(this).val().replace(/\D/g, '');

                //Verifica se campo cep possui valor informado.
                if (cep != "") {

                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    //Valida o formato do CEP.
                    if(validacep.test(cep)) {

                        //Preenche os campos com "..." enquanto consulta webservice.
                        $("#rua").val("...");
                        $("#bairro").val("...");
                        $("#cidade").val("...");
                        $("#uf").val("...");
                        $("#ibge").val("...");

                        //Consulta o webservice viacep.com.br/
                        $.getJSON("//viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                        	if (!("erro" in dados)) {
                                //Atualiza os campos com os valores da consulta.
                                $("#rua").val(dados.logradouro);
                                $("#bairro").val(dados.bairro);
                                $("#cidade").val(dados.localidade);
                                $("#uf").val(dados.uf);
                                $("#ibge").val(dados.ibge);
                            } //end if.
                            else {
                                //CEP pesquisado não foi encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        });
                    } //end if.
                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } //end if.
                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            });
        });

    </script>
</head>
<body style="background: #eaeaea;">
	<div id="cadastrar"><a href="<?= BASE_URL ?>" title="Login">Login &raquo;</a></div>
	<div id="pag-cadastro">
		<div class="message" style="display:none;"></div>
		<div class="logo"><a href="<?= BASE_URL ?>" title="Club Decor"><img src="<?= BASE_URL ?>img/logo.png" alt="Club Decor" title="Club Decor" /></a></div>
		<div class="fazer-cadatro">
			<h3>Cadastro exclusivo para arquitetos.</h3>
			<form action="?acao=cadastrar" method="post" id="formCadastro" name="formulario" onsubmit="return validarSenha(this);">

				<p class="pessoa-fisica"><input  type="radio" name="pessoa"  value="PF" checked id='pf'/>Pessoa física</p>
				<p class="pessoa-juridica"><input class="pessos-jur"  type="radio" name="pessoa" value="PJ" id='pj'/>Pessoa jurídica</p>

				<div class="form-cad-dados">

					<div id='mostrarPessoaFisica'>

						<div class="col-md-6">
							<label>Nome:<span>*</span></label>
							<input type="text" name="nome" id="nome" />
						</div>

						<div class="col-md-6">
							<label>CPF:<span>*</span></label>
							<input type="text" name="cpf" id="doc" />
						</div>

					</div>

					<div id="mostrarPessoJuridica" style='display:none;'>

						<div class="col-md-6">
							<label>Razão social:<span>*</span></label>
							<input type="text" name="Razao_social" id="nome" />
						</div>

						<div class="col-md-6">
							<label>CNPJ:<span>*</span></label>
							<input type="text" name="cnpj" id="doc" />
						</div>
						
					</div>


					<div class="col-md-6">
						<label>Data de Nascimento:<span>*</span></label>
						<input class="p valid" type="text" name="data" id="data" aria-invalid="false" required />
					</div>

					<div class="col-md-6">
						<label>CEP:<span>*</span></label>
						<input type="text" name="numero" id="cep" class="p valid" aria-invalid="false" required />
					</div>

					<div class="col-md-6">
						<label>Endereço Completo:<span>*</span></label>
						<input type="text" name="rua" id="rua" required />
					</div>

					<div class="col-md-6">
						<label>Nº/Complemento:</label>
						<input type="text" name="complemento" id="complemento" />
					</div>

					<div class="col-md-6">
						<label>Bairro:<span>*</span></label>
						<input type="text" name="bairro" id="bairro" required />
					</div>

					<div class="col-md-6">
						<label>Cidade:<span>*</span></label>
						<input type="text" name="cidade" id="cidade" required />
					</div>

					<div class="col-md-6">
						<label>Estado:<span>*</span></label>
						<input type="text" name="estado" id="uf" required size="2" minlength="2" maxlength="2" />
					</div>

					<div class="col-md-6">
						<label>Site:</label>
						<input type="text" name="site" id="site" />
					</div>

					<div class="col-md-6">
						<label>Facebook:</label>
						<input type="text" name="facebook" id="facebook" />
					</div>

					<div class="col-md-6">
						<label>Instagram:</label>
						<input type="text" name="instagram" id="instagram" />
					</div>

					<div class="col-md-6">
						<label>E-mail:<span>*</span></label>
						<input type="text" name="email" id="email" required />
					</div>

					<div class="col-md-6">
						<label>Confirmar E-mail:<span>*</span></label>
						<input type="text" name="email1" id="email1" required />
					</div>

					<div class="col-md-6">
						<label>Telefone:<span>*</span></label>
						<input type="text" name="telefone" id="telefone" class="p valid" aria-invalid="false" required />
					</div>

					<div class="col-md-6">
						<label>Celular:<span>*</span></label>
						<input type="text" name="celular" id="celular" class="p valid" aria-invalid="false" required />
					</div>

					<div class="col-md-6">
						<label>Senha:<span>* <time>Sua senha deve conter no mínimo oito dígitos!</time></span></label>
						<input id="txtSenha" name="senha" type="password" required title="Senha" />
					</div>

					<div class="col-md-6">
						<label>Confirmar Senha:<span>*</span></label>
						<input id="repetir_senha" name="repetir_senha" type="password" required  title="Repetir Senha" />
					</div>

				</div>

				<p class="cadastrar-socio"><input id="label1" type="checkbox" name="socio" value="PF" />Deseja cadastrar seus sócios?</p>
				
				<div id="tab1" data-content="" style="display: none;">
					
					<div class="form-cad-dados">

						<div class="col-md-6">
							<label>Sócio:</label>
							<input type="text" name="dependente0" id="dependente0" />
						</div>
						<div class="col-md-6">
							<label>Data de Nascimento:</label>
							<input class="p valid" type="text" name="data1" id="data1" aria-invalid="false" />
						</div>

						<div id="adicionar-campo-socio"></div>

						<div id="adicionar-socios">+</div>

					</div>

				</div>

				<div class="col-md-12">
				</div>

				<input type="submit" class="bot-cadastrar" value="Cadastrar" />
			</form>
		</div>
	</div>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/vanilla-masker/1.1.0/vanilla-masker.min.js'></script>
	<script type="text/javascript">
		function inputHandler(masks, max, event) {
			var c = event.target;
			var v = c.value.replace(/\D/g, '');
			var m = c.value.length > max ? 1 : 0;
			VMasker(c).unMask();
			VMasker(c).maskPattern(masks[m]);
			c.value = VMasker.toPattern(v, masks[m]);
		}

		var docMask = ['999.999.999-999', '99.999.999/9999-99'];
		var doc = document.querySelector('#doc');
		VMasker(doc).maskPattern(docMask[0]);
		doc.addEventListener('input', inputHandler.bind(undefined, docMask, 14), false);
	</script>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script type="text/javascript">
//consultando os radio responsaveis por exibir os conteudos.
var tabs = document.querySelectorAll("[data-tab]");

//consultando os conteudos a serem exibidos.
var contents = document.querySelectorAll("[data-content]");

//declarando a função que será associada a cada input:radio
var tabOnClick = function (elem) {  
	for (var indice in contents) {
    //verificando se o input:radio selecionado está associado ao conteudo atual.
    var display = contents[indice].id == elem.target.dataset.tab ? "block" : "none";
    contents[indice].style.display = display;
}
}
//associando todos os input:radio ao método declarado acima.
for (var indice in tabs) {
	tabs[indice].onclick = tabOnClick;
}
</script>
<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../js/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="../js/jquery.validate.min.js"></script>
<script type="text/javascript" src="../js/jquery.zebra-datepicker.js"></script>
<script>
	function validarSenha(form){ 
		senha = document.formulario.senha.value
		senhaRepetida = document.formulario.repetir_senha.value
		email = document.formulario.email.value
		emailRepetido = document.formulario.email1.value
		if (senha != senhaRepetida){
			alert("Repita a senha corretamente");
			document.formulario.repetir_senha.focus();  
			return false;
		}
		if (email != emailRepetido){
			alert("Repita o email corretamente");
			document.formulario.email1.focus();
			return false;
		}
	}
</script>
</body>
</html>