<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <link href='<?= BASE_URL ?>css/main.css' rel='stylesheet'>
  <link href='<?= BASE_URL ?>../library/font-awesome/css/font-awesome.css' rel='stylesheet'>
  <link href='<?= BASE_URL ?>../library/font-awesome/css/font-awesome.min.css' rel='stylesheet'>
  <script src='<?= BASE_URL ?>js/main.js'></script>

  <title>Inicio</title>
  <script src="<?= BASE_URL ?>js/scriptIndex.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel="stylesheet" href="<?= BASE_URL ?>css/index.css">

</head>

<body ng-app="myApp" ng-controller="namesCtrl">
  <main ontouchstart class="with-hover" style="background-image:url('<?= BASE_URL ?>img/bg.jpg');">
    <aside>
        <div></div>
        <img src="<?= BASE_URL ?>img/logo.png" id='logotipo'>
        <div>
            <p id="intro-signup" class="active">Bem vindo ao clubdecor, entre com sua conta</p>
            <p id="intro-login">Se voce for um arquiteto cadastre sua conta, é gratis.</p>
        </div>
    </aside>
    <section style='background-color:white;overflow:auto;'>
        <h1>
            <a id="link-signup" class="active">Logar</a>
            <a id="link-login">Cadastrar</a>
        </h1>
        <form id="form-signup" class="active">
            <div>
                <div style='width: 100%;height: 25%;'></div>
                <input type="text"      name="email_clubdecor" ng-model='email_clubdecor' class='campo-texto' placeholder='digite seu email' style='width:96%'>
                <input type="password"  name="senha_clubdecor" ng-model='senha_clubdecor' class='campo-texto' placeholder='digite sua senha' style='width:96%'>
                <a href="<?= BASE_URL ?>index/recuperarsenha"><font id='esqueci-senha'>Esqueci minha senha!</font></a>
            </div>
            
            <input type="button" value="Entrar na minha conta" ng-click="logarArquiteto()" id='botao-logar-usuario'/>
        </form>
        <form id="form-login">
            <div>
                <div style='width:96%; text-align:center; padding-top:20px'> pessoa fisica <input type="radio" name="tipo_pessoa" checked="true" value="pf" id="pf"> pessoa juridica <input type="radio" name="tipo_pessoa" value="pj" id="pj"> </div>
                <input type="text" ng-model='cad_nome'       class='campo-texto' placeholder='digite seu nome' style='width:96%'>
                <input type="text" ng-model='cad_email'      class='campo-texto' placeholder='digite seu email' style='width:96%'>
                <input type="password" ng-model='cad_senha'      class='campo-texto' placeholder='digite sua senha' style='width:96%'>
                <input type="text" ng-model='cad_nascimento' class='campo-texto data_nascimento_mask' placeholder='digite sua data de nascimento'>
                <input type="text" ng-model='cad_telefone'   class='campo-texto telefone_mask' placeholder='digite seu telefone'>
                <input type="text" ng-model='cad_cpf'        class='campo-texto cpf_mask' placeholder='digite seu cpf' style='width:96%'>
                <select            ng-model='cad_estado'     class='campo-texto' ng-init="cad_estado = 'estado' " value="cad_estado">
                    <option value="estado">Selecione seu estado</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>                    
                </select>
                <input type="text" ng-model='cad_cidade'     class='campo-texto' placeholder='digite sua cidade'>
                <input type="text" ng-model='cad_endereco'   class='campo-texto' placeholder='digite seu endereco' style='width:96%'>
                <input type="text" ng-model='cad_bairro'     class='campo-texto' placeholder='digite seu bairro'>
                <input type="text" ng-model='cad_num_end'    class='campo-texto numero_mask' placeholder='digite o numero do seu endereco'>
                <div id='caixa-regulamentacao'>
                    {{textoRegulamentacao}}
                    <font id='campo-regulamentacao'><input type="checkbox" name="regulamentacao" id='regulamentacao'>Li e concordo com a regulamentação</font>
                </div>
            </div>
            
            <input type="button" value="Cadastrar minha conta" ng-click="cadastrarArquiteto()" id='botao-cadastrar-arquiteto'/>
        </form>
    </section>
</main>

<script src="<?= BASE_URL ?>js/index.js"></script>

</body>
</html>
