
<!DOCTYPE html>
<html lang="pt-br">
<head>
<link href='<?= BASE_URL ?>css/main.css' rel='stylesheet'>
<link href='<?= BASE_URL ?>../library/font-awesome/css/font-awesome.css' rel='stylesheet'>
<link href='<?= BASE_URL ?>../library/font-awesome/css/font-awesome.min.css' rel='stylesheet'>
<script src='<?= BASE_URL ?>js/main.js'></script>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="description" content="Club Decor" />
<meta name="keywords" content="Club Decor" />
<meta name="resource-type" content="document" />
<meta name="robots" content="ALL" />
<meta name="distribution" content="Global" />
<meta name="rating" content="General" />
<meta name="author" content="Club Decor" />
<meta name="language" content="pt-br" />
<meta name="doc-class" content="Completed" />
<meta name="doc-rights" content="Public" />
<meta name="title" content="Club Decor" />
	<title>Club Decor</title>
	<link rel="stylesheet" type="text/css" href="<?= BASE_URL ?>css/index.css" />
	<link rel="shortcut icon" href="img/favicon.png">
	<!-- Última versão CSS compilada e minificada -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body class="alterar-senha" style="background: #eaeaea;">
<div id="login">
	<div class="logo log"><a href="<?= BASE_URL ?>" title="Club Decor"><img src="<?= BASE_URL ?>img/logo.png" alt="Club Decor" title="Club Decor" /></a></div>
	<div class="message" style="display:none;"></div>
	<div class="acomodar">
		<form action="" method="post" enctype="multipart/form-data">
			<label for="email">Digite Seu Email Cadastrado:</label><input class="txt" type="text" id="emailRecupera" name="emailRecupera" value="" required />
			<input type="hidden" name="acao" value="recuperar">
			<input type="submit" class="sb" value="Recuperar Senha" />
		</form>
	</div>
</div>

</body>
</html>