<!DOCTYPE html>
<html >
<head>
<link href='<?= BASE_URL ?>css/main.css' rel='stylesheet'>
<link href='<?= BASE_URL ?>../library/font-awesome/css/font-awesome.css' rel='stylesheet'>
<link href='<?= BASE_URL ?>../library/font-awesome/css/font-awesome.min.css' rel='stylesheet'>
<script src='<?= BASE_URL ?>js/main.js'></script>

  <meta charset="UTF-8">
  <title>Inicio</title>
  <script src="https://use.typekit.net/lkh0ago.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <link rel="stylesheet" href="<?= BASE_URL ?>css/index.css">

</head>

<body ng-app="myApp" ng-controller="namesCtrl">

regulamentacao

    <script src="<?= BASE_URL ?>js/index.js"></script>

</body>
</html>
