<!DOCTYPE html>
<html >
<head>
<link href='<?= BASE_URL ?>css/main.css' rel='stylesheet'>
<link href='<?= BASE_URL ?>../library/font-awesome/css/font-awesome.css' rel='stylesheet'>
<link href='<?= BASE_URL ?>../library/font-awesome/css/font-awesome.min.css' rel='stylesheet'>
<script src='<?= BASE_URL ?>js/main.js'></script>

	<meta charset="UTF-8">
	<title>Dashboard lojista</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
	<link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css'>
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/jvectormap/2.0.4/jquery-jvectormap.min.css'>
	<link rel="stylesheet" href="<?= BASE_URL ?>css/lojista.css">
</head>

<body ng-app="myApp" ng-controller="indexcntrl">
	<section>
		<header>
			<nav class="rad-navigation">
				<div class="rad-logo-container rad-nav-min">
					<a href="<?= BASE_URL ?>lojista/" class="rad-logo"><i class="fa fa-dashboard"></i>Inicio</a>
					<a href="#" class="rad-toggle-btn pull-right"><i class="fa fa-bars"></i></a>
				</div>
				<a href="<?= BASE_URL ?>lojista/" class="rad-logo-hidden">Inicio</a>
				<div class="rad-top-nav-container">
					<a href="" class="brand-icon"><i class="fa fa-dashboard"></i></a>
					
					<ul class="pull-right links">
						<li class="rad-dropdown no-color">
							<a class="rad-menu-item" href="#"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></a>
							<ul class="rad-dropmenu-item sm-menu">
								<li class="rad-notification-item">
									<a class="rad-notification-content lg-text" href="<?= BASE_URL ?>lojista/configuracoes"><i class="fa fa-edit"></i>Configurações</a>
								</li>
								<li class="rad-notification-item">
									<a class="rad-notification-content lg-text" href="<?= BASE_URL ?>lojista/logout"><i class="fa fa-power-off"></i>Sair</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>
	</section>

	<!-------------------------------- MENU -------------------------------->
	<aside>
		<nav class="rad-sidebar rad-nav-min">
			<ul>
				<li>
					<a href="<?= BASE_URL ?>lojista/" class="inbox">
						<i class="fa fa-dashboard"><span class="icon-bg rad-bg-success"></span></i>
						<span class="rad-sidebar-item">Inicio</span>
					</a>
				</li>
				<li>
					<a href="<?= BASE_URL ?>lojista/registrarvenda" class="snooz">
						<i class="fa fa-credit-card-alt">
							<span class="icon-bg rad-bg-danger"></span>
						</i>					
						<span class="rad-sidebar-item">Registrar venda</span>
					</a>
				</li>				
			</ul>
		</nav>
	</aside>
	<main>
		<section>
			<div class="rad-body-wrapper rad-nav-min">
				<div class="container-fluid">

					<div class="row">

						<div class="col-lg-12 col-md-12 col-xs-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Lista venda por loja</h3>
								</div>


								<div class="panel-heading">

									<h3 class="panel-title">Filtre sua pesquisa :
										<input ng-model="buscadorVenda" id='campo-filtro-select' placeholder='Filtre sua pesquisa por arquiteto, unidade, cliente ou data'>

										<select ng-model="buscar_periodo" name='periodo' ng-change="filtroData()" style='width:25em;margin-right:10px;' id='campo-filtro-select' ng-init="buscar_periodo ='default'">
											<option value='default'>Qualquer data</option>
											<option value='1'>no periodo de 1 mes</option>
											<option value='2'>no periodo de 2 meses</option>
											<option value='3'>no periodo de 3 meses</option>
											<option value='4'>no periodo de 4 meses</option>
											<option value='5'>no periodo de 5 meses</option>
											<option value='6'>no periodo de 6 meses</option>
											<option value='7'>no periodo de 7 meses</option>
											<option value='8'>no periodo de 8 meses</option>
											<option value='9'>no periodo de 9 meses</option>
											<option value='10'>no periodo de 10 meses</option>
											<option value='11'>no periodo de 11 meses</option>
										</select>
																				
									</div>
									<section>
										<div class="tbl-header">
											<table cellpadding="0" cellspacing="0" border="0">
												<thead>
													<tr>
														<th>Arquiteto</th>
														<th>Unidade</th>
														<th>Cliente</th>
														<th>Data venda</th>
														<th>Valor transação (R$)</th>
														<th>Saldo clubdecor</th>
														<th>Excluir</th>
													</tr>
												</thead>
											</table>
										</div>
										<div class="tbl-content">
											<table cellpadding="0" cellspacing="0" border="0">
												<tbody>
													<tr ng-repeat="atb_venda in listarVendas | filter:buscadorVenda">
														<td>{{atb_venda.arquiteto}}</td>
														<td>{{atb_venda.unidade}}</td>
														<td>{{atb_venda.cliente}}</td>
														<td>{{atb_venda.data_venda}}</td>
														<td>{{atb_venda.valor}}</td>
														<td>{{atb_venda.saldoClubDecor}}</td>
														<td><i class="fa fa-trash-o" aria-hidden="true" ng-click='deletarVenda(atb_venda.id)' style='cursor:pointer;'></i></td>
													</tr>
												</tbody>
										</table>
									</div>
								</section>

							</div>
						</div>
						<a href="<?= BASE_URL ?>lojista/relatoriovendapdf" target="_blank">
							<div class="col-lg-3 col-xs-3">
								<div class="rad-info-box rad-txt-primary quadrado-relatorio link-relatorio-venda-pdf">
									<span class="heading lojista" id="relatorio-texto">Gerar relatório PDF</span>
								</div>
							</div>
						</a>
						
						<div class="col-lg-12 col-md-12 col-xs-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Ranking arquiteto</h3>
								</div>

								<div class="panel-heading">

									<h3 class="panel-title">Filtre sua pesquisa : 

										<input ng-model="buscadorArquiteto" id='campo-filtro-select' placeholder='Filtre sua pesquisa por arquiteto'>

									</div>
									<section>
										<div class="tbl-header">
											<table cellpadding="0" cellspacing="0" border="0">
												<thead>
													<tr>
														<th>Arquiteto</th>
														<th>Total de transações (R$)</th>
													</tr>
												</thead>
											</table>
										</div>
										<div class="tbl-content">
											<table cellpadding="0" cellspacing="0" border="0">
												<tbody>
													<tr ng-repeat="atb_arquiteto in listarArquitetos | filter:buscadorArquiteto">
														<td>{{atb_arquiteto.nome}}</td>
														<td>{{atb_arquiteto.valor}}</td>
													</tr>
											</tbody>
										</table>
									</div>
								</section>

							</div>
						</div>


						<div class="col-lg-3 col-xs-3">
							<div class="rad-info-box rad-txt-primary quadrado-relatorio link-relatorio-arquiteto-pdf">
								<span class="heading lojista" id="relatorio-texto">Gerar relatório PDF</span>
							</div>
						</div>


						<div id="barChart" class="rad-chart" style='display:none;'></div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js'></script>
	<script src='http://code.jquery.com/ui/1.11.4/jquery-ui.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.3/jquery.slimscroll.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.8.0/lodash.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js'></script>
	<script src='http://jvectormap.com/js/jquery-jvectormap-2.0.3.min.js'></script>
	<script src='http://jvectormap.com/js/jquery-jvectormap-world-mill-en.js'></script>

	<script src="<?= BASE_URL ?>js/lojista.js"></script>

</body>
</html>
