<!DOCTYPE html>
<html>
<head>
	<link href='<?= BASE_URL ?>css/main.css' rel='stylesheet'>
	<link href='<?= BASE_URL ?>../library/font-awesome/css/font-awesome.css' rel='stylesheet'>
	<link href='<?= BASE_URL ?>../library/font-awesome/css/font-awesome.min.css' rel='stylesheet'>
	<script src='<?= BASE_URL ?>js/main.js'></script>

	<meta charset="UTF-8">
	<title>Dashboard lojista</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/jvectormap/2.0.4/jquery-jvectormap.min.css'>
	<link rel="stylesheet" href="<?= BASE_URL ?>css/lojista.css">

	<script src="<?= BASE_URL ?>js/jquery.maskMoney.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.dinheiro_mask').maskMoney({symbol:'R$ ', thousands:'.', decimal:',', symbolStay: true});
			$('.data_mask').mask('00/00/0000');
			$('.cad_data_mask').mask('00/00/0000');
			$('.telefone_mask').mask('(00) 00000 - 0000');
			$('.telefone_mask2').mask('(00) 00000 - 0000');
			$('.cpf_mask').mask('000.000.000.00');
		});
	</script>

</head>

<body ng-app="myApp" ng-controller="myCntrl">
	<section>
		<header>
			<nav class="rad-navigation">
				<div class="rad-logo-container rad-nav-min">
					<a href="<?= BASE_URL ?>lojista" class="rad-logo"><i class="fa fa-dashboard"></i>R. V</a>
					<a href="#" class="rad-toggle-btn pull-right"><i class="fa fa-bars"></i></a>
				</div>
				<a href="<?= BASE_URL ?>lojista" class="rad-logo-hidden">Registrar venda</a>
				<div class="rad-top-nav-container">
					<a href="" class="brand-icon"><i class="fa fa-dashboard"></i></a>
					
					<ul class="pull-right links">
						<li class="rad-dropdown no-color">
							<a class="rad-menu-item" href="#"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></a>
							<ul class="rad-dropmenu-item sm-menu">
								<li class="rad-notification-item">
									<a class="rad-notification-content lg-text" href="<?= BASE_URL ?>lojista/configuracoes"><i class="fa fa-cog"></i>Configurações</a>
								</li>
								<li class="rad-notification-item">
									<a class="rad-notification-content lg-text" href="<?= BASE_URL ?>lojista/logout"><i class="fa fa-power-off"></i>Sair</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>
	</section>

	<!-------------------------------- MENU -------------------------------->
	<aside>
		<nav class="rad-sidebar rad-nav-min">
			<ul>
				<li>
					<a href="<?= BASE_URL ?>lojista/" class="inbox">
						<i class="fa fa-dashboard"><span class="icon-bg rad-bg-success"></span></i>
						<span class="rad-sidebar-item">Inicio</span>
					</a>
				</li>
				<li>
					<a href="<?= BASE_URL ?>lojista/registrarvenda" class="snooz">
						<i class="fa fa-credit-card-alt">
							<span class="icon-bg rad-bg-danger"></span>
						</i>					
						<span class="rad-sidebar-item">Registrar venda</span>
					</a>
				</li>				
			</ul>
		</nav>
	</aside>
	<main>
		<section>
			<div class="rad-body-wrapper rad-nav-min">
				<div class="container-fluid">

					<div class="row">

						<div class="col-lg-3 col-xs-1" id="formulario-arquiteto">
							<div class="rad-info-box rad-txt-primary quadrado-relatorio">
								<span class="heading lojista" id="relatorio-texto">Cadastrar arquiteto</span>
							</div>
						</div>


						<div class="col-lg-12 col-md-12 col-xs-12 formulario-cadastro-arquiteto" style="display:none;">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title" id="arquiteto">Formulário cadastro arquiteto  <i class="fa fa-times" aria-hidden="true" id='fecharFormArquiteto' style='float:right;cursor:pointer;'></i></h3>
								</div>

								<!-- CONTEUDO FORMULÁRIO -->
								
                <!-- <div style='width:96%; text-align:center; padding-top:20px'> pessoa fisica <input type="radio" name="tipo_pessoa" value="pf" id="pf"> pessoa juridica <input type="radio" name="tipo_pessoa" value="pj" id="pj"> </div> -->
                <input type="text" ng-model='cad_nome'       class='campo-texto-form-medio' placeholder='digite seu nome'>
                <input type="text" ng-model='cad_email'      class='campo-texto-form-medio' placeholder='digite seu email'>
                <input type="password" ng-model='cad_senha'  class='campo-texto-form-medio' placeholder='digite sua senha'>
                <input type="text" ng-model='cad_nascimento' class='campo-texto-form-medio cad_data_mask' placeholder='digite sua data de nascimento'>
                <input type="text" ng-model='cad_telefone'   class='campo-texto-form-medio telefone_mask2' placeholder='digite seu telefone'>
                <input type="text" ng-model='cad_cpf'        class='campo-texto-form-medio cpf_mask' placeholder='digite seu cpf'>
                <select            ng-model='cad_estado'     class='campo-texto-form-medio' ng-init="cad_estado = 'estado' " value="cad_estado">
                    <option value="estado" class='campo-texto-form-medio' >Selecione seu estado</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>                    
                </select>
                <input type="text" ng-model='cad_cidade'     class='campo-texto-form-medio' placeholder='digite sua cidade'>
                <input type="text" ng-model='cad_endereco'   class='campo-texto-form-medio' placeholder='digite seu endereco'>
                <input type="text" ng-model='cad_bairro'     class='campo-texto-form-medio' placeholder='digite seu bairro'>
                <input type="text" ng-model='cad_num_end'    class='campo-texto-form-medio numero_mask' placeholder='digite o numero do seu endereco'>
                									
		<input type="button" name="" value="Cadastrar arquiteto" class="campo-texto-form-medio botao-submit" ng-click='cadastrarArquiteto()'>
							</div>
						</div>	

						<div class="col-lg-12 col-md-12 col-xs-12">
							<div class="panel panel-default formulario-cadastro-venda">
								<div class="panel-heading">
									<h3 class="panel-title">Formulário de registro de venda</h3>
								</div>
								
								<select ng-model="arquiteto" class="campo-texto-form" ng-init="arquiteto = 'default'">
									<option value="default">Nome do Arquiteto</option>
									<option ng-repeat="atb_arquiteto in listarArquitetos" value="{{atb_arquiteto.id}}">{{atb_arquiteto.nome}}</option>
								</select>

								<select name="filtro-por-categoria" ng-model="unidade" class="campo-texto-form"  ng-init="unidade = 'default'">
									<option value="default">Unidade</option>
									<option ng-repeat="atb_unidade in listarUnidades" value="{{atb_unidade.id}}">{{atb_unidade.descricao}}</option>
								</select>
								
								<input type="text" ng-model="valor_tranzacao" placeholder='Qual o valor da transação' class="campo-texto-form dinheiro_mask">			
								<input type="text" ng-model="cliente" placeholder='Nome do cliente' class="campo-texto-form">			
								<input type="text" ng-model="data" placeholder='informe a data da transação' class="campo-texto-form data_mask">								
								<input type="button" value="Registrar Venda" ng-click="cadastrarVenda()" class="campo-texto-form botao-submit botao-registrar-venda">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js'></script>
	<script src='http://code.jquery.com/ui/1.11.4/jquery-ui.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.3/jquery.slimscroll.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.8.0/lodash.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js'></script>
	<script src='http://jvectormap.com/js/jquery-jvectormap-2.0.3.min.js'></script>
	<script src='http://jvectormap.com/js/jquery-jvectormap-world-mill-en.js'></script>

	<script src="<?= BASE_URL ?>js/lojista.js"></script>

</body>
</html>
